*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    width: 100%;
    height: auto;
    display: flex;    
}

.sidebar{
    width: 20%;
    height: 100vh;
    background-color: var(--bg-dark);    
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}


.logo{
    background-color: var(--bg-white);
    height: 80px;
}

.sidebar-content{   
    flex: 1;
    background-color: green;
    overflow: auto;
}


.sidebar-content::-webkit-scrollbar {
 width: 8px;
 }

.sidebar-content::-webkit-scrollbar-track {
 background: rgba(255, 255, 255, 0.15);
 border-radius: 6px;
}

.sidebar-content::-webkit-scrollbar-thumb {
 background: linear-gradient(180deg, #ffffff, #c7d2fe);
 border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
 background: linear-gradient(180deg, #e0e7ff, #a5b4fc);
}




.main{
  flex: 1;
  background-color: red;
  min-height: 100vh;
  overflow: auto;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--bg-primary);
}

.content {
    background-color: gray;
    width: 100%;
    height: 100vh;
}

.content h2 {
    color: green;
}


/* Footer */
footer{
    width: 100%;
    height: 80px;
    background-color: var(--bg-primary);
}